@font-face {
    font-family: "Gotham";
    src: url('../../fonts/GothamPro-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic, oblique;
}
@font-face {
    font-family: "Gotham";
    src: url('../../fonts/GothamPro-Italic.ttf');
    font-style: italic, oblique;
}
@font-face {
    font-family: "Gotham";
    src: url('../../fonts/GothamPro-Bold.ttf');
    font-weight: bold;
}
@font-face {
  font-family: 'Gotham';
  src: url('../../fonts/GothamPro.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../fonts/avenir_regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url('../../fonts/nexa_bold.ttf');
  font-weight: normal;
  font-style: normal;
}

body, html {
  font-family: "Avenir";
  color: #828c97;
  margin: auto;
  height: 100%;
}

#cryptonite-layout {
  display: flex;
  height: 100%;
}

.cryptonite-prefs-page-content {
  float: left;
  margin-left: 60px;
}

#cryptonite-chatbot-wrapper,
#cryptonite-beta-program-wrapper {
  display: none;
}

#cryptonite-chatbot-wrapper .cryptonite-left-group,
#cryptonite-beta-program-wrapper .cryptonite-left-group {
  margin-right: 25px;
}

.cryptonite-beta-program {
  margin-left: 0px;
}

.cryptonite-selected {
  background-color: #fff;
  color: #199eaf;
}

.cryptonite-hint {
  font-size: 11pt;
  margin-top: 20px;
  font-family: 'Gotham';
  line-height: 14pt;
}

.cryptonite-bold {
  font-weight: 600;
}

.cryptonite-teal {
  color: #199eaf;
}

.cryptonite-title-container {
  height: 30px;
  margin-bottom: 15px;
}

.cryptonite-subsection {
    display: flex
}

#cryptonite-headline, .cryptonite-section-title {
  font: 16pt "Avenir";
  text-transform: uppercase;
}

#cryptonite-headline, .cryptonite-section-subtitle {
  font: 13pt "Avenir";
  text-transform: uppercase;
}

#cryptonite-headline {
  color: #333;
  padding: 15px 60px;
  letter-spacing: 2px;
  float: left;
  width: 70%;
}

.cryptonite-section-title {
  letter-spacing: 2px;
}

.cryptonite-section-spacer {
  margin: 30px 0px 0px 0px;
}

.cryptonite-side {
  float: left;
  width: 250px;
}

#cryptonite-slider, #cryptonite-slider-fbads {
  float: right;
  display: flex;
}

input[type="text"] {
  border: 1px solid #ccc;
  font: 11pt "Avenir";
  padding: 10px;
  border-radius: 4px;
  width: 230px;
  box-shadow: inset 1px 1px 10px #eee;
}

input[type="radio"] {
  float: left;
  margin-right: 5px;
  margin-top: 20px;
}

.cryptonite-tag-container {
  height: 200px;
}

.cryptonite-left-group {
  margin-top: 50px;
  float: left;
  width: 100%;
}

.cryptonite-right-group {
  margin: 30px 20px 0px 50px;
  float: left;
  width: 120px;
  position: relative;
  text-align: right;
}

.cryptonite-tag-area {
  float: left;
  width: 95%;
}

li a, li a:visited {
  text-decoration: none;
  color: #fff;
}

.cryptonite-general-switch {

}

.cryptonite-radioLabel {
  float: left;
  margin-top: 20px;
  margin-right: 10px;
}


/* new and responsive settings page */
#cryptonite-menu {
  background-color: #cbd0d5;
  text-transform: uppercase;
  color: #fff;
  font: 14pt "Avenir";
  letter-spacing: 2px;
}

#cryptonite-menu ul {
  list-style: none;
  margin-top: 120px;
}

#cryptonite-menu ul li {
  padding: 20px 20px 20px 20px;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}

#cryptonite-menu ul li .cryptonite-pure-menu-link:hover {
  background-color: transparent;
}

#cryptonite-menu .cryptonite-pure-menu-link {
  padding: 0px !important;
}

#cryptonite-menu .cryptonite-pure-menu-active>.cryptonite-pure-menu-link,
#cryptonite-menu .cryptonite-pure-menu-link:focus,
#cryptonite-menu .cryptonite-pure-menu-link:hover {
  background-color: transparent;
}

#cryptonite-menu .cryptonite-selected {
  background-color: #fff;
  color: #199eaf !important;
}

#cryptonite-menu #cryptonite-beta-program.cryptonite-selected {
  background-color: #000000;
}

#cryptonite-menu li a, #cryptonite-menu li a:visited {
  text-decoration: none;
  color: inherit;
}
/* new and responsive settings page */

/* email submit form styles */
#cryptonite-beta-program-wrapper,
.cryptonite-beta-program-content {
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.cryptonite-beta-program-image {
  padding: 30px 0px 0px 0px;
  height: 35px;
}

.cryptonite-beta-program-content {
  padding: 20px 60px 60px 60px;
}

.cryptonite-beta-program-section-title {
  padding: 80px 0px 0px 0px;
  letter-spacing: 0px;
  color: #00cccc;
}

.cryptonite-beta-program-content .cryptonite-hint,
.cryptonite-beta-program-content .cryptonite-hint a {
  color: #ffffff;
}

.cryptonite-beta-program-form ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.cryptonite-beta-program-form ul li {
  display: block;
  margin-bottom: 10px;
  min-height: 35px;
}

.cryptonite-beta-program-form ul li .cryptonite-field-style {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 8px;
  outline: none;
  border: 1px solid #b0cfe0;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.cryptonite-beta-program-form ul li .cryptonite-field-style:focus {
  box-shadow: 0 0 5px #b0cfe0;
  border: 1px solid #b0cfe0;
}

.cryptonite-beta-program-form ul li .field-split {
  width: 49%;
}

.cryptonite-beta-program-form ul li .crytonite-field-full {
  /* width: 100% */
}

.cryptonite-beta-program-form #cryptonite-beta-program-email {
  min-width: 200px;
  width: 400px;
  max-width: 500px;
}

.cryptonite-beta-program-form ul li input.align-left {
  float: left;
}

.cryptonite-beta-program-form ul li input.align-right {
  float: right;
}

.cryptonite-beta-program-form ul li textarea {
  width: 100%;
  height: 100px;
}

.cryptonite-beta-program-form ul li input[type="button"],
.cryptonite-beta-program-form ul li input[type="submit"],
.cryptonite-beta-program-form ul li button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #ffffff;
  font-size: 12px;
  padding: 8px 0px;
  background-color: #00cccc;
  border: solid #aaaaaa 1px;
  text-decoration: none;
  display: inline;
  cursor: pointer;
  min-width: 120px;
  text-align: center;
}

.cryptonite-beta-program-form ul li input[type="button"]:hover,
.cryptonite-beta-program-form ul li input[type="submit"]:hover,
.cryptonite-beta-program-form ul li button:hover {
  background: #009999;
  text-decoration: none;
}

.cryptonite-beta-program-form-results-success,
.cryptonite-beta-program-form-results-error {
  visibility: hidden;
  font-style: italic;
}

.cryptonite-beta-program-form-results-error {
  display: none;
}

.cryptonite-beta-program-loading-image {
    display: none;
    width: 12px;
    height: 12px;
    margin: 0px 0px 0px 10px;
}
/* email submit form styles */
